@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-preset-1 {
    @apply font-medium;
    font-size: 62px;
    line-height: 93.5%; /* Example line height */
    letter-spacing: -3px; /* Example letter spacing */
  }

  /* Add more presets as needed */
  .text-preset-2 {
    @apply font-medium;
    font-size: 40px;
    line-height: 90%;
    letter-spacing: -2px;
  }

  .text-preset-3 {
    @apply font-medium;
    font-size: 32px;
    line-height: 87.5%;
    letter-spacing: -2px;
  }

  .text-preset-4 {
    font-size: 18px;
    line-height: 111%;
    letter-spacing: 0;
  }
}
